<% @title = @club.name + " Settings" %>
<div class="container">
    <div id="club_admin">
        <% if @club.memberships.find_by_user_id(current_user.id).admin == false %>
        
            <p>You are not an admin of this book club.</p>
            <%= link_to "Go back to club page", @club %>
            
            <% else %>
            
            <h1>Admin control page</h1>
            <%= link_to "Back to club page", @club %>
            <br><br>
            <p>This is where you can start new books and edit club settings and members.</p>
            <br><br>
            
            <%= button_to "Add book", new_club_book_path(:club_id => @club.id), :method => :get, class: "btn btn-primary" %>
            <br>
            <%= button_to "Make announcement", new_club_announcement_path(:club_id => @club.id), :method => :get, class: "btn btn-info" %>
            
            <br><br> 
            
            <h3><%= pluralize(@club.users.count, "member") %><p class="text-muted">(20 max)</p></h3>
            <%= button_to "Add member", new_club_member_path(:club_id => @club.id), :method => :get, class: "btn btn-primary" %>
            <div class="row">
                <% @club.users.each do |user| %>
                    <div class="col-lg-2 col-md-2 col-sm-3">
                        <div class="text-left">
                                <% membership = @club.memberships.where(:user_id => user.id).first %>
                                <% if membership.admin %>
                                    <strong>Admin</strong>
                                <% else %>
                                    <br> <!--for formatting consistency-->
                                <% end %>
                                <% if user == current_user %>
                                    <p style="margin-bottom: -2px"><strong>Me</strong> (<%= current_user.username %>)</p>
                                <% else %>
                                    <p style="margin-bottom: -2px"><%= user.username %></p>
                                <% end %>
                                <p class="text-muted">Member since <%= time_ago_in_words(membership.created_at) %> ago.</p>
                                
                                <% if user == current_user %>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#leaveClub">
                                    Leave
                                 </button>
                                  <div class="modal fade" id="leaveClub" tabindex="-1" role="dialog" aria-labelledby="leaveClub" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="leaveClub"Leave Club</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <h2>Are you sure you want to leave the club?</h2>
                                            <% if @club.memberships.count == 1 %>
                                            <br>
                                                <p>You are the last member of this club. Leaving will disban the club.</p>
                                            <% end %>
                                          <br>
                                        </div>
                                        <div class="modal-footer">
                                          <p>
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Stay!</button>
                                            <%= button_to "Leave the club", club_member_path(:club_id => @club.id, :membership_id => membership.id), :method => :delete, class:"btn btn-danger" %>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <% else %>
                                    <%= link_to "Kick", club_member_path(:club_id => @club.id, :membership_id => membership.id), :method => :delete, class: "btn btn-danger btn-sm" %>
                                    
                                    <% if membership.admin %>
                                         <%= link_to "De-Admin", club_member_del_admin_path(:club_id => @club.id, :member_id => membership.id), :method => :post, class: "btn btn-danger btn-sm" %>
                                    <% else %>
                                        <%= link_to "Make Admin", club_member_make_admin_path(:club_id => @club.id, :member_id => membership.id), :method => :post, class: "btn btn-info btn-sm" %>
                                    <% end %>
                                <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>