<% @title = @club.name + " Settings" %>
<div class="container">
    <div id="club_admin">
        <% if @club.memberships.find_by_user_id(current_user.id).admin == false %>
        
            <p>You are not an admin of this book club.</p>
            <%= link_to "Go back to club page", @club %>
            
            <% else %>
            
            <h1>Admin control page</h1>
            <br>
            <p>This is where you can start new books and edit club settings and members.</p>
            <br><br>
            
            <%= button_to "Add book", new_club_book_path(:club_id => @club.id), :method => :get %>
            
            <br><br> 
            
            <h3><%= @club.users.count %> Members</h3>
            <%= button_to "Add member", new_club_member_path(:club_id => @club.id), :method => :get %>
            <div class="row">
                <% @club.users.each do |user| %>
                    <div class="col-lg-2 col-md-2 col-sm-3">
                        <div class="text-left">
                                <% membership = @club.memberships.where(:user_id => user.id).first %>
                                <% if membership.admin %>
                                    <strong>Admin</strong>
                                <% end %>
                                <% if user == current_user %>
                                    <p style="margin-bottom: -2px"><strong>Me</strong> (<%= current_user.username %>)</p>
                                <% else %>
                                    <p style="margin-bottom: -2px"><%= user.username %></p>
                                <% end %>
                                <p class="text-muted">Member since <%= time_ago_in_words(membership.created_at) %> ago.</p>
                                
                                <% if user == current_user %>
                                     <%= link_to "Leave", club_member_path(:club_id => @club.id, :membership_id => membership.id), :method => :delete %>
                                <% else %>
                                    <%= link_to "Kick", club_member_path(:club_id => @club.id, :membership_id => membership.id), :method => :delete %>
                                    
                                    <% if membership.admin %>
                                         | 
                                         <%= link_to "De-Admin", club_member_del_admin_path(:club_id => @club.id, :member_id => membership.id), :method => :post %>
                                    <% else %>
                                         | 
                                        <%= link_to "Make Admin", club_member_make_admin_path(:club_id => @club.id, :member_id => membership.id), :method => :post %>
                                    <% end %>
                                <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>