<div class="fluid-container">
    <div class="row col-md-12 text-center" style="margin-top: -25px;">
        <h2> Hello, <%= current_user.first_name %>!</h2>

        <% if @club.memberships.find_by_user_id(current_user.id).admin == true then %>
            <p>You are an admin of this book club.</p>
            <%= link_to "Access admin controls", edit_club_path %>
        <% end %>
    </div>
    
    <div class="row">
        <div class="main text-center col-lg-5 col-md-5 col-sm-5">
            <% if @club.readings.count >= 1 %>
                <h1>Current Reading:</h1>
                <% c = @club.readings.where(current: true).first %>
                <% current = @club.books.find(c.book_id) %>
                <%= current.title %>
                <img src=<%=current.image %> class="img-responsive center-block book-cover">
            <% end %>
        </div>

        <div class="main text-left col-lg-3 col-md-3 col-sm-5">
            <h2>Description:</h2>
            <p><%= @club.description %></p>
        </div>
        
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
            <br>
        </div>
        
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs navigation">
            <div class="text-center club_name">
                <br>
                <h2><%= @club.name %></h2>
                <br><br>
                <img src="https://dummyimage.com/100x100/000/fff">
                <h2>Last Book:</h2>
                <img src="https://dummyimage.com/100x100/000/fff">
            </div>
        </div>
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
            <br>
        </div>
    </div>
</div>