<% @title = @club.name %>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center col-md-offset-3" style="margin-top: -25px;">
            <h2><%= @club.name %></h2><br>
            <% if @club.memberships.find_by_user_id(current_user.id).admin == true then %>
                <p class="text-muted">You are an admin of this book club.</p>
                <%= button_to "Access Admin Controls", edit_club_path, 
                method: "get", class: "btn btn-primary btn-md" %>
            <% end %>
            <br>
            <div style="background: #EEEEEE">
                <% if @club.description? %>
                    <p>Description:</p>
                    <p class="text-muted small"><%= @club.description %></p>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="main text-center col-md-offset-3 col-md-6 col-md-offset-3">
            <% if @club.readings.count >= 1 %>
                <h1>Current Reading:</h1>
                <% c = @club.readings.where(current: true).first %>
                <% current = @club.books.find(c.book_id) %>
                <a href="/clubs/<%= @club.id%>/books/<%= current.id %>">
                    <h4><em><%= current.title %></em></h4>
                    <img src=<%=current.image %> class="img-responsive center-block book-cover">
                </a>
            <% end %>
        </div>
    </div>
    <br><br><br>
</div>