<% @title = "Book Club" %>
<div class="jumbotron">
    <% if current_user %>
        <h1 class="display-3">Hello, <%=current_user.username %></h1>
        <p class="lead">Let's get reading!</p>
        <hr class="my-4">
        <p>Why not catch up on some books or maybe start a club of your own?</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    <% else %>
    
    <% end %>
</div>


<div class="text-center container" style="padding-bottom: 150px">
    <% if @active_club %>
        <h2>Recently Active Club:</h2>
        <div class="col-lg-4 col-md-4 col-sm-3"><!--SPACE FILLER--></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home-page-club">
                <h3><%= link_to @active_club, style: "text-decoration: none; color: #333333" do %></h3>
                    <h3><%= @active_club.name %></h3>
                    <p class="text-muted">Currently reading:</p>
                    <p class="text-muted"><%= @current_book.title + " by " + @current_book.author %>.</p>
                    <p class="text-muted"><%= pluralize(@current_reading.discussions.count, "discussion") %></p>
                <% end %>
            </div>
        <div class="col-lg-4 col-md-4 col-sm-3"><!--SPACE FILLER--></div>
    <% end %>
</div>
