<% @title = "Book Club" %>
<div class="jumbotron">
    <% if current_user %>
        <h1 class="display-3">Hello, <%=current_user.username %></h1>
        <p class="lead">Let's get reading!</p>
        <hr class="my-4">
        <p>Why not catch up on some books or maybe start a club of your own?</p>
        <%= link_to "My Clubs", clubs_path, class: "btn btn-info btn-lg"%>
        <%= link_to "New Club", new_club_path, class: "btn btn-info btn-lg hdr-button" %>
    <% else %>
    <h1 class="display-3">Welcome</h1>
        <p class="lead">Book Club is an online community for reading and discussing books with friends.</p>
        <hr class="my-4">
        <p>Let's get reading!  <%= link_to "Sign Up!", "/users/sign_up", class: "btn btn-info btn-md hdr-button"%></p>
        <p>Already a member?<%= link_to "Log In!", "/users/sign_in", class: "btn btn-info btn-md hdr-button" %></p>
    <% end %>
</div>


<div class="text-center container" style="padding-bottom: 150px">
    <% if @active_club %>
        <h2>Recently Active Club:</h2>
        <div class="col-lg-4 col-md-4 col-sm-3"><!--SPACE FILLER--></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home-page-club">
                <h3><%= link_to @active_club, style: "text-decoration: none; color: #333333" do %></h3>
                    <h3><%= @active_club.name %></h3>
                    <p class="text-muted">Currently reading:</p>
                    <p class="text-muted"><%= @current_book.title + " by " + @current_book.author %>.</p>
                    <p class="text-muted"><%= pluralize(@current_reading.discussions.count, "discussion") %></p>
                <% end %>
            </div>
        <div class="col-lg-4 col-md-4 col-sm-3"><!--SPACE FILLER--></div>
    <% end %>
</div>
