<div class="fluid-container text-center">
    <h1>New Book</h1>
    <br>
    
    <%= form_for @book do |f| %>
        <% if @book.errors.any? %>
            <div id="errors">
                <ul>
                    <% @club.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <h4>
            <%= f.label :title %> <br>
            <%= f.text_field :title %> <br>
        </h4>
        <h4>
            <%= f.label :author %> <br>
            <%= f.text_field :author %> <br>
        </h4>
        <br>
        <h4>
            <%= f.label :description %> <br>
            <%= f.text_area :description %> <br>
        </h4>
        <br>
        <p>
            <%= f.submit %>
        </p>
    <% end %>
    
</div>