<% @title = "Add Book" %>
<div class="fluid-container text-center">
    <div class="container">
        <div class="row">
            <h1>Choose a new reading for <%= @club.name %></h1>
            <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                <br>
                <%= form_tag(new_club_book_path, method: :get) do %>
                    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Title or Author" %>
                    <%= submit_tag "Search", class: "btn btn-primary btn-md", style: "margin-top: 5px" %>
                <% end %>
            </div>
        </div>
        
        <br><br>
        <% if @books %>
            <% @books.each do |book| %>
                <ul class="list-group">
                    <li class="list-group-item">
                        <%= link_to( "Choose this book", club_books_path(:action => "create", :isbn => book.isbn), :method => :post) %>
                        <img src=<%= book.image_link(:zoom => 1) %> class="img-responsive center-block">
                        <strong><%= book.title %></strong> <br>
                        By: <%= book.authors %> <br>
                        Pages: <%= book.page_count%>
                    </li>
                </ul>
            <% end %>
        <% end %>
    </div>
</div>