<% @title = @book.title %>
<div class="container">
    <div class="row">
        <div class="text-center col-lg-6 col-md-6 col-sm-6">
            <h5><em><%= @book.title %></em></h5>
            <p>By: <%= @book.author %></p>
            <p>Discussion started: <%= @book.created_at.strftime("%b %d") %></p>
            <img src=<%=@book.image %> class="img-responsive center-block book-cover">
            <% if @book.description? %>
                <h3>Description:</h3>
                <p class="text-muted">
                    <%= @book.description %>
                </p>
            <% end %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <% if @club.memberships.find_by_user_id(current_user.id).admin == true then %>
                <% if @reading.current? %>
                    <%= form_for [@club, @book, @discussion] do |f| %>
                        <h3>Add Discussion</h3>
                        <%= f.text_area :title, class: "form-control", rows: "1", placeholder: "Title" %>
                   
                        <br>
                        <%= f.text_area :body, class: "form-control", rows: "8", placeholder: "Write a discussion.." %>
                        
                        <%= f.submit "Create Discussion", class: "btn btn-primary btn-md", style: "margin-top: 5px" %>
                    <% end %>
                    <% else %>
                    <br><br><br>
                    <h4 style="color: red">Discussions are no longer being created for this book.</h4>
                <% end %>
            <% end %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-left">Discussions</h2>
            <% @reading.discussions.each do |d|%>
            <!-- <%= link_to club_book_discussion_path(:book_id => @reading.book.id, :id => d.id) %>-->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%=d.id%>" aria-expanded="true" aria-controls="collapseOne">
                          <%= d.title %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse_<%=d.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <p class="small text-muted">Written by <%= d.user.username %></p>
                        <%= d. body %>
                        <br>
                        <%= link_to "Go to discussion", club_book_discussion_path(:book_id => @reading.book.id, :id => d.id) %>
                        <hr>
                        
                        <p class="text-muted"><%= d.comments.count %> comments</p>
                        
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment
                        </button>
                    </div>
                 </div>
            <% end %>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
</div>